* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  vertical-align: middle;
}
header, #middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 100%; */
}
header {
  position: fixed;
  left: 0;
  top: 0;
  
  width: 100%;
padding: 0 2%;
}
#left, #right, #middle {
  display: flex;
  align-items: center;
  gap: 20px;
}
#left {
  gap: 10px;
}
#middle {
  width: 50%;
}
#middle form {
  display: flex;
  align-items: center;
  width: 100%;
}
header form input {
  width: 100%;
  font-size: 16px;
  padding: 10px 12px;
  outline: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 1px solid rgb(179, 179, 179);
  /* border-right: none; */
}
#middle form .stay {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid rgb(179, 179, 179);
  padding: 9px 22px;
  border-left: none;
  cursor: pointer;
  background-color: rgb(245, 245, 245);
}
.aa {
    font-size: 20px;
}
#left button, #right button {
  background: none;
  border: none;
}
#hid {
  font-size: 25px;
  display: none;
}
#micro {
  padding: 10px;
  border: none;
  border-radius: 50%;
  background-color: rgb(245, 245, 245);
}
button {
  cursor: pointer;
}
#left button {
  padding: 10px;
  border: none;
  border-radius: 50%;
}
#right a {
  border: 1px solid #eee;
  padding: 8px 12px 8px 10px;
  border-radius: 22px;
  color: rgb(56, 131, 230);
}
#right a:hover{
  background-color: rgb(211, 230, 255); 
}
.stay:hover, #micro:hover, #left button:hover {
  background-color: rgb(225, 225, 225);
  /* background-color: red; */
  
}
#right a::after {
  content: ' Sign in';
}
@media (max-width: 768px) {
  #left button, #micro, #right button {
    display: none;
  }
  header form input {
    width: 0;
    display: none;
  }
  #middle {
    /* background-color: red; */
    width: 100%;
  }
  #middle form {
    /* background-color: green; */
    justify-content: flex-end;
  }
  #middle form .stay {
    border: 1px solid transparent;
    background-color: transparent;
    padding: 12px;
  }
  #right a::after {
    content: '';
  }
  .aa {
    font-size: 25px;
  }
  
}


















.guide-icon.ytd-mini-guide-entry-renderer {
  color: var(--yt-spec-brand-icon-inactive);
  margin-bottom: 6px;
}

/* sidebar code */
.Sidebtn svg path {
  color: black;
}
.Sidebar {
  position: fixed;
  left: 0;
  margin-top: 56px;
}
.Sidebtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  transition-duration: .3s;
  width: fit-content;
  padding: 12px 24px;
  border-radius: 12px;
  margin: 5px;
}
.Sidebtn:hover {
  background-color: rgb(240, 240, 240);
}
.Sidebtn p {
  color: #606060;
  max-width: 100%;
  display: block;
  max-height: 1.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: .65rem;
  font-weight: 400;
  line-height: 1.4rem;
}
#subsc {
  padding: 8px;
  /* background-color: greenyellow; */
}
.App {
  height: 5000px;
}

.mainContent {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 11fr;
}
.tags-videos {
  margin-top: 60px;
  /* background-color: red; */
  height: 200px;
}








.videos {
  height: 300px;
  width: 300px;
  /* background-color: red; */
}




/* mytags */

.tags {
  position: fixed;
  left: 1fr;
  /* margin-top: 56px; */
  margin-top: 10px;
}
#tagOn {
  background-color: black;
  color: white;
}
.tag {
  background: rgb(235, 235, 235);
  padding: 6px 10px;
  margin: 0 5px;
  border-radius: 8px;
}
.tag:hover {
  background: rgb(220, 220, 220);
}