* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  vertical-align: middle;
}
header, #middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 100%; */
}
header {
padding: 0 2%;
}
#left, #right, #middle {
  display: flex;
  align-items: center;
  gap: 20px;
}
#left {
  gap: 10px;
}
#middle {
  width: 50%;
}
#middle form {
  display: flex;
  align-items: center;
  width: 100%;
}
header form input {
  width: 100%;
  font-size: 16px;
  padding: 10px 12px;
  outline: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 1px solid rgb(179, 179, 179);
  /* border-right: none; */
}
#middle form .stay {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid rgb(179, 179, 179);
  padding: 9px 22px;
  border-left: none;
  cursor: pointer;
  background-color: rgb(245, 245, 245);
}
.aa {
    font-size: 20px;
}
#left button, #right button {
  background: none;
  border: none;
}
#hid {
  font-size: 25px;
  display: none;
}
#micro {
  padding: 10px;
  border: none;
  border-radius: 50%;
  background-color: rgb(245, 245, 245);
}
button {
  cursor: pointer;
}
#left button {
  padding: 10px;
  border: none;
  border-radius: 50%;
}
#right a {
  border: 1px solid #eee;
  padding: 8px 12px 8px 10px;
  border-radius: 22px;
  color: rgb(56, 131, 230);
}
#right a:hover{
  background-color: rgb(211, 230, 255); 
}
.stay:hover, #micro:hover, #left button:hover {
  background-color: rgb(225, 225, 225);
  /* background-color: red; */
  
}
#right a::after {
  content: ' Sign in';
}
@media (max-width: 768px) {
  #left button, #micro, #right button {
    display: none;
  }
  header form input {
    width: 0;
    display: none;
  }
  #middle {
    /* background-color: red; */
    width: 100%;
  }
  #middle form {
    /* background-color: green; */
    justify-content: flex-end;
  }
  #middle form .stay {
    border: 1px solid transparent;
    background-color: transparent;
    padding: 12px;
  }
  #right a::after {
    content: '';
  }
  .aa {
    font-size: 25px;
  }
  
}